<h1><%= @post.title %></h1>
<p><%= @post.content %></p>

<% if @post.image.attached? %>
  <%= image_tag @post.image %>
<% end %>

<% if @post.user == current_user %>
  <%= link_to "編集", edit_post_path(@post) %>
<% end %>